/* duped from .logincard from index.css */
#signupForm {
  font-size: 1.5rem;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  /* margin: 35px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

/* might not need. do not erase!! */
#dropDownMenu {
  /* margin-bottom: auto; */
  justify-content: left;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;

}

select {
  padding: 5px;
  border: 2px solid #C0C0C0 ;
  border-radius: 0.5rem ;
}

#firstOfInputs {
  margin-top: 1.5rem;
}

.component-cards {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}