#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #A5CDFD;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  /* Add padding-top to create space for the fixed navbar */
  padding-top: 60px;
}
/* TODO: edit anchor tags */
a {
  font-weight: 500;
  color: #213547;
  text-decoration: inherit;
}
/* optional TODO: edit anchor tags */
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
/* optional TODO: edit buttons */
button {
  border-radius: 8px;
  border: 2px solid #C0C0C0;
  margin: 20px 70px;
  padding: 0.5em 2.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FFFEA8;
  cursor: pointer;
  transition: background-color 0.25s;
}
/* optional TODO: edit buttons */
button:hover {
  background-color: #ffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #A5CDFD;
    justify-content: center;
  }
  a:hover {
    color: #213547;
  }
  /* optional TODO: edit buttons  */
  button {
    background-color: #FFFEA8;
    ;
  }
}

.customYellow {
  color: #FFFEA8;
}

/* optional TODO: add bold weight */
.customSerif-bold {
  font-family: "Noto Serif", serif;

}

.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* optional todo: add some spacing between the card and the buttons */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.input-group {
  margin-bottom: 10px; /* optional todo: Adds some spacing between the inputs */
}

.responsive-margin {
  margin: 10px 35px;
}

.input {
  padding: 8px;
  margin: 10px 35px;
  font-size: 1.3rem;
  border: 2px solid #C0C0C0 ;
  border-radius: 0.5rem ;
}

.navbar {
  background-color: #A5CDFD;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 0.75rem;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: black;
  border: 2px solid #C0C0C0;
  border-radius: 4px;
  text-decoration: none;
  background-color: #FFFEA8;
}

.navbar a:hover {
  background-color: #A5CDFD;
  border-color: #ccc; 
  color: black; 
}